{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true,
    },
    "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:@typescript-eslint/recommended"],
    "parserOptions": {
        "ecmaVersion": 2019,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
        },
    },
    "rules": {
        "array-bracket-spacing": ["warn", "never"],
        "brace-style": "warn",
        "camelcase": ["warn", {"properties": "never"}],
        "comma-dangle": ["warn", "always-multiline"],
        "comma-spacing": ["warn", {"before": false, "after": true}],
        "curly": ["warn"],
        "no-debugger": ["warn"],
        "eol-last": ["error"],
        "eqeqeq": ["warn", "smart"],
        "indent": ["error", 2, {"SwitchCase": 1, "flatTernaryExpressions": true}],
        "key-spacing": ["warn"],
        "keyword-spacing": ["warn", {"overrides": {
            "if": { "after": false },
            "for": { "after": false },
            "while": { "after": false },
            "switch": { "after": false },
        }}],
        "linebreak-style": ["error", "unix"],
        "no-console": ["warn", {"allow": ["warn", "error", "debug"]}],
        "no-empty": ["warn"],
        "no-multi-spaces": ["warn"],
        "no-redeclare": ["warn"],
        "no-trailing-spaces": ["warn"],
        "no-unused-vars": ["warn", {"args": "none", "varsIgnorePattern": "^React$"}],
        "no-use-before-define": "off",
        "@typescript-eslint/no-use-before-define": ["warn", "nofunc"],
        "no-var": ["error"],
        "object-curly-spacing": ["warn", "always"],
        "prefer-const": ["warn"],
        "quotes": ["off", "double"],
        "react/prop-types": ["off"],
        "semi-spacing": ["warn", {"before": false, "after": true}],
        "semi": ["warn", "always"],
        "space-before-blocks": ["off"],
        "space-before-function-paren": ["warn", {"anonymous": "always", "named": "never"}],
        "space-in-parens": ["warn", "never"],
        "space-infix-ops": ["warn"],
        "@typescript-eslint/ban-ts-comment": ["error", "allow-with-description"],
        "@typescript-eslint/no-var-requires": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/no-explicit-any": "off",
    },
    "plugins": [
        "react",
        "@typescript-eslint",
    ],
    "settings": {
        "react": {
            "version": "detect",
        },
    },
    "root": true,
}
