body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  font-family: sans-serif;
  text-shadow: 0 0 2px aqua, 0 0 2px aqua, 0 0 2px aqua;

  button, input[type="submit"] {
    font-size: 1.5rem;
    border: 2px solid #fcfdfd;
    color: white;
    text-align: center;
    border-radius: 100px;
    text-transform: uppercase;
    font-family: sans-serif;
    transition: 0.25s;
    background-color: transparent;
    text-shadow: 0 0 6px aqua, 0 0 6px aqua;
    box-shadow: 0 0 6px 1px aqua, inset 0 0 6px 1px aqua;
    cursor: pointer;
  }
}

.room-selector, .username-selector {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.room-list-container {
  text-align: center;
  p, h1 {
    margin: .25rem;
  }
}

.create-room {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;

  button {
    margin-top: .5rem;
  }
}


input {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  padding: .5rem;
  border-radius: .5rem;
  box-shadow: 0 0 6px 1px aqua, inset 0 0 6px 1px aqua;
}

::placeholder {
  color: white;
  opacity: .7;
  text-shadow: 0 0 6px aqua, 0 0 6px aqua;
}

.room-list {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;

  span {
    cursor: pointer;
  }
}

.room-share {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-container {
  height: calc(100vh - 2px);
  display: flex;
  width: 133vh;
  border: 1px solid white;
}

.spectators-list {
  position: absolute;
  list-style: none;
  left: 0;
}

canvas {
  height: 100%;
  width: 100%;
}

.hidden {
  display: none;
}

.d-flex {
  display: flex;
  align-items: center;
}

.mr {
  margin-right: .5rem;
}

.ml {
 margin-left: .5rem;
}
