body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  font-family: sans-serif;
  text-shadow: 0 0 2px aqua, 0 0 2px aqua, 0 0 2px aqua;

  button {
    border: 5px solid #fcfdfd;
    color: white;
    font-size: 4rem;
    text-align: center;
    border-radius: 100px;
    text-transform: uppercase;
    font-family: sans-serif;
    transition: 0.25s;
    padding: 1.5rem 2rem;
    background-color: transparent;
    text-shadow: 0 0 6px aqua, 0 0 6px aqua, 0 0 6px aqua;
    box-shadow: 0 0 6px 3px aqua, inset 0 0 6px 3px aqua;
    cursor: pointer;
  }
}

.room-selector {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.room-share {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-container {
  height: calc(100vh - 2px);
  display: flex;
  width: 133vh;
  border: 1px solid white;
}

canvas {
  height: 100%;
  width: 100%;
}

.hidden {
  display: none;
}
