body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  font-family: sans-serif;
  text-shadow: 0 0 2px aqua, 0 0 2px aqua, 0 0 2px aqua;

  button {
    font-size: 1.5rem;
    border: 2px solid #fcfdfd;
    color: white;
    text-align: center;
    border-radius: 100px;
    text-transform: uppercase;
    font-family: sans-serif;
    transition: 0.25s;
    background-color: transparent;
    text-shadow: 0 0 6px aqua, 0 0 6px aqua;
    box-shadow: 0 0 6px 1px aqua, inset 0 0 6px 1px aqua;
    cursor: pointer;
  }
}

.room-selector, .username-selector {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.room-list-container {
  text-align: center;
  p, h1 {
    margin: .25rem;
  }
}

.create-room {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;

  button {
    margin-top: .5rem;
  }
}


.neon-border {
  padding: .5rem;
  border-radius: .5rem;
  box-shadow: 0 0 6px 1px aqua, inset 0 0 6px 1px aqua;
  border: 1px solid white;
}

input {
  color: white;
  background-color: transparent;

  &:focus {
    outline: none;
    box-shadow: 0 0 6px 2px aqua, inset 0 0 6px 2px aqua;
  }

  &[type=checkbox] {
      vertical-align: middle;
  }
}

::placeholder {
  color: white;
  opacity: .7;
  text-shadow: 0 0 6px aqua, 0 0 6px aqua;
}

input:placeholder-shown + button[type="submit"], button.disabled {
  opacity: 0.3;
}

.room-list {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;

  span {
    cursor: pointer;
  }
}

.room-share {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-container {
  display: flex;
  width: 133vh;
  height: 100vh;
}

.spectators-list {
  position: absolute;
  list-style: none;
  left: 0;
}

canvas {
  height: 100%;
  width: 100%;
}

.hidden {
  display: none;
}

.d-flex {
  display: flex;
  align-items: center;
}

.flex-column {
  flex-direction: column;
  justify-content: center;
}

.mr {
  margin-right: .5rem;
}

.ml {
 margin-left: .5rem;
}

.mt-0 {
  margin-top: 0;
}

.m {
  margin: .5rem;
}

.p {
  padding: .5rem;
}

.private-label {
  color: rgba(255, 255, 255, .7);
  font-size: .8em;
  text-shadow: none;
}

.room-id-container {
  p {
    font-family: monospace;
    text-shadow: none;
  }
}
